[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-jwt-extended = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
flask-migrate = "*"
flask-admin = "*"
psycopg2-binary = "*"
werkzeug = "*"
python-dotenv = "*"
gunicorn = "*"
wtforms-sqlalchemy = "*"
flask-mail = "*"

[dev-packages]

[requires]
python_version = "3.12"
